* {
  box-sizing: border-box;
}

body {
  max-width: 375px;
  max-height: 677px;
  font-size: 16px;
  font-family: "SF Pro Display";
}

.arrow-left {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: #007AFF;
}

.fa-chevron-left {
  color: #007AFF;
}

.navigation-bar {
  background-color: #F9F9F9;
  opacity: .9;
  position: fixed;
  height: 64px;
  z-index: 2;
}

#city {
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

#edit-button {
  color: #007AFF;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  right: 3%;
}

.map {
  background-origin: border-box;
  padding-top: 64px;
  max-width: 375px;
  position: fixed;
}

.bus-items {
  opacity: .9;
  padding-top: 375px;
}

.search-bar-section {
  padding-bottom: 16px;
  position: absolute;
}

.search-bar {
  background-color: #F7F5F6;
  z-index: 1;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
}

.icon {
  position: absolute;
  padding-top: 7px;
  padding-left: 12px;
  z-index: 1;
  color: #4f5b66;
}

#search {
  width: 300px;
  height: 30px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
}

.bus-list {
  background-color: #F7F5F6;
  z-index: 1;
  padding-top: 40px;
}

.bus-description {
  margin-top: 16px;
}

.arrow-right {
  position: absolute;
  top: 62%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #8C8C8C;
  left: 345px;
}

.bus-icon {
  border-radius: 4px;
  width: 46px;
  height: 37px;
  background-color: #D50BAF;
  float: left;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bus-line {
  color: #ffffff;
}

.destination, .frequency {
  margin-left: 74px;
}

.frequency {
  padding-bottom: 17.5px;
  padding-top: 7px;
  font-size: 15px;
  color: #1D5BCD;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  padding-top: 17.5px;
  padding-left: 16px;
}

#end-of-direction {
  margin-left: 16px;
  padding-left: 58px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C7CC;
}
