* {
  box-sizing: border-box;
}

body {
  max-width: 375px;
  max-height: 677px;
  font-size: 16px;
  font-family: "SF Pro Display";
}

.arrow-left {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
}

.fa-chevron-left{
  color: #007AFF;
}

.navigation-bar {
  background-color: #F9F9F9;
  opacity: .9;
  position: fixed;
  height: 64px;
  z-index: 2;
}

#city {
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

#edit-button {
  color: #007AFF;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  right: 3%;
}

.map {
  background-origin: border-box;
  padding-top: 64px;
  max-width: 375px;
  position: fixed;
}

.bus-items {
  opacity: .9;
  padding-top: 375px;
}

.bus-list{
  background-color: #F7F5F6;
  z-index: 1;
}

.bus-line {
    float: left;
    width: 52px;
    padding-left: 16px;
}

.bus-line, .destination, .frequency {
  padding-top: 17.5px;
}

.frequency {
  padding-bottom: 17.5px;
  padding-left: 36px;
  padding-top: 7px;
  margin-left: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C7CC;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  padding-top: 17.5px;
  padding-left: 16px;
}

.frequency {
  font-size: 15px;
  color: #1D5BCD;
}

#end-of-direction {
  margin-left: 0;
  padding-left: 52px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C8C7CC;
}
